<div class="row tev-faqs include-back-to-top-button">
    <div class="col-sm-4">
        <nav class="list-group tev-faqs__category-nav">
            <f:for each="{categories}" as="cat">
                <a class="list-group-item {f:if(condition: '{cat.uid} == {categoryUid}', then: 'active')}" href="{f:uri.action(arguments: {category: '{cat.uid}'})}">
                    {cat.title}
                </a>
            </f:for>
        </nav>
    </div>

    <div class="col-sm-8">
        <f:if condition="{category}">
            <f:then>
                <h2 class="tev-faqs__category-title">{category.title}</h2>

                <f:if condition="{f:count(subject: '{category.faqs}')}">
                    <f:then>
                        <ul class="tev-faqs__question-nav">
                            <f:for each="{category.faqs}" as="faq">
                                <li>
                                    <a href="{url}#faq-question-{faq.uid}">{faq.question}</a>
                                </li>
                            </f:for>
                        </ul>

                        <dl class="tev-faqs__list">
                            <f:for each="{category.faqs}" as="faq">
                                <dt id="faq-question-{faq.uid}">{faq.question}</dt>
                                <dd><f:format.html>{faq.answer}</f:format.html></dd>
                            </f:for>
                        </dl>
                    </f:then>
                    <f:else>
                        <p class="tev-faqs__not-found">
                            <f:translate key="tev_faqs.category.show.no_faqs_found" />
                        </p>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <p class="tev-faqs__category-not-found">
                    <f:translate key="tev_faqs.category.show.category_not_found" />
                </p>
            </f:else>
        </f:if>
    </div>
</div>
